@import '../../../../../../styles.scss';
.container {
    .lineContainer {
      margin-top: 25px;
      border-bottom:$borderBottomPrimary;
      
    }
    .noConfirmedClasses {
      display: flex;
      align-items: center;
      padding: 0 5%;
      h2 {
        font-size: $headerFontSize;
        color: $blueColorSecond;
      }
    }
    .noConfirmedClassesContainer {
      width: 100%;
      margin-top: 15px;
      .classContainer {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        border-radius: 20px;
        padding: 15px 5%;
        border: $borderPrimary;
        width: 90%;
        background-color: $blueColorThird;
        .lesson,
        .date,
        .price {
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          text-align: center;
          h2 {
            width: 100%;
            color: $blueColorSecond;

          }
          h3 {
            margin-top: 10px;
            width: 100%;
            color: $blueColorSecond;

          }
        }
        .lesson {
          width: 35%;
        }
        .date {
          width: 25%;
        }
        .price {
          width: 35%;
        }
      }
    }
  }
  