@import '../../../styles.scss';
.legendsContainer{
    display: flex;
    justify-content: space-around;
    .legend{
      display: flex;
      align-items: center;
      .colorContainer{
        width: 20px;
        height: 20px;
        border-radius: $radiusMid;
      }
      h4{
        font-weight: $fontMedium;
        font-size: $fontSizeSmall;
        margin-left: 25px;
      }
      .freeTerm{
        background-color: $colorFree;
      }
      .reservationTerm{
        background-color: $termReservation;
      }
      .noReservationTerm{
        background-color: $termnoReservation;
      }
    }

  }