@import "../../../../styles.scss";

.container {
  width: 90%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 10%;
    h2 {
      font-size: 2rem;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: 2px solid black;
  }
  .calenderRangeMobile {
    display: none;
  }
  .calenderRange {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    .DataRange {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
  }
  .calendatContainer {
    width: 100%;
    margin-top: 25px;
    background-color: $bgcCalnedar;
    display: flex;
    .hoursContainer {
      margin-top: $dayBoxNameHight;
      width: 50px;
      background-color: aquamarine;
      text-align: center;
      .hourBox {
        height: $dayBoxHight;
        border-top: 1px solid black;
      }
    }
    .daysContainer {
      border-left: 1px solid black;
      width: calc(100% - 50px);
      display: flex;
      .dayBox {
        width: 15%;
      }
      .dayBoxMobile {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .container {
    .calenderRange {
      display: none;
    }
    .calenderRangeMobile {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      width: 100%;
      .DataRange {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
      }
    }
    .calendatContainer {
      .daysContainer {
        .dayBox {
          display: none;
          app-teacher-day-terms {
            display: none;
          }
        }
        .dayBoxMobile {
          width: 100%;
          display: flex;
          app-teacher-day-terms {
            width: 100%;
          }
        }
      }
    }
  }
}
