<section>
  <div class="logoBox">
    <h1>eGeniusz</h1>
  </div>
  <div class="teacherBox">
    <h2>Nuczyciele</h2>
    <div class="textBox">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam iusto
        non officia quibusdam dicta labore at pariatur harum sit quae libero
        possimus earum atque quisquam quod, id alias sunt.Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Ex magnam iusto non officia quibusdam
        dicta labore at pariatur harum sit quae libero possimus earum atque
        quisquam quod, id alias sunt.
      </p>
    </div>
    <div class="teacherLogin">
      <app-link-button [navigation]="navTeacher" />
    </div>
  </div>
  <div class="studentBox">
    <h2>Uczeń</h2>
    <div class="textBox">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam iusto
        non officia quibusdam dicta labore at pariatur harum sit quae libero
        possimus earum atque quisquam quod, id alias sunt.Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Ex magnam iusto non officia quibusdam
        dicta labore at pariatur harum sit quae libero possimus earum atque
        quisquam quod, id alias sunt.
      </p>
    </div>
    <div class="studentLogin">
      <app-link-button [navigation]="navStudent" />
    </div>
  </div>
</section>
