<section>
  <div class="logoBox">
    <h1>eGeniusz</h1>
  </div>

  <div class="descriptionBox">
    <div class="descriptionTextBox">
      <p>
        eGeniusz to nowoczesna platforma internetowa, która łączy uczniów z
        doświadczonymi korepetytorami. Intuicyjny interfejs pozwala szybko
        znaleźć odpowiedniego nauczyciela dla każdego przedmiotu. Użytkownicy
        mogą przeglądać profile korepetytorów, czytać opinie innych uczniów oraz
        umawiać lekcje online lub stacjonarnie. Strona wyróżnia się przejrzystym
        designem i przyjazną dla użytkownika nawigacją. Dodatkowo, eGeniusz
        oferuje bloga edukacyjnego oraz sekcję FAQ, gdzie można znaleźć
        odpowiedzi na najczęściej zadawane pytania. Platforma jest skierowana
        zarówno do uczniów szukających wsparcia w nauce, jak i do korepetytorów
        chcących znaleźć nowych klientów.
      </p>
    </div>
    <div class="imageBox">
      <figure>
        <img src="./assets/brain.png" alt="brain" />
      </figure>
    </div>
  </div>
  <div class="nextArrow">
    <app-arrow-drop-down (click)="navigateTo('text')" />
  </div>
  <div class="userBox" id="text">
    <div class="teacherBox">
      <div class="tipBox">
        <h2>Nuczyciele</h2>
        <div class="textBox">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam
            iusto non officia quibusdam dicta labore at pariatur harum sit quae
            libero possimus earum atque quisquam quod, id alias sunt.Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Ex magnam iusto non
            officia quibusdam dicta labore at pariatur harum sit quae libero
            possimus earum atque quisquam quod, id alias sunt.
          </p>
        </div>
        <div class="teacherLogin">
          <app-link-button [navigation]="navTeacher" />
        </div>
      </div>
    </div>
    <div class="studentBox">
      <div class="tipBox">
        <h2>Uczeń</h2>
        <div class="textBox">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam
            iusto non officia quibusdam dicta labore at pariatur harum sit quae
            libero possimus earum atque quisquam quod, id alias sunt.Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Ex magnam iusto non
            officia quibusdam dicta labore at pariatur harum sit quae libero
            possimus earum atque quisquam quod, id alias sunt.
          </p>
        </div>
        <div class="studentLogin">
          <app-link-button [navigation]="navStudent" />
        </div>
      </div>
    </div>
  </div>
</section>
