@import "../../../styles.scss";

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $bgblueColorPrimary;
}

.logoBox {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: $fontHederSizeBig;
    color: $blueColorSecond;
  }
}
.descriptionBox {
  min-height: 65vh;
  padding: 0% 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  .descriptionTextBox {
    font-size: $fontSizeMidium;
    font-weight: $fontMedium;
    width: 50%;
    line-height: 1.5em;
    p {
      border: $borderPrimary;
      color: $blueColorSecond;
      border-radius: $radiusMid;
      padding: 40px;
    }
  }
  .imageBox {
    display: flex;
    align-items: center;
    width: 30%;
    img {
      width: 100%;
    }
  }
}
.nextArrow {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userBox {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
  .teacherBox,
  .studentBox {
    margin-top: 100px;
    width: 40%;
    border-radius: 25px;
    padding: 20px 0%;
    .tipBox {
      border: $borderPrimary;
      border-radius: $radiusMid;
      color: $blueColorSecond;
      padding: 20px;
      h2 {
        font-size: $fontHederSizeMid;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        height: 10vh;
      }
      .textBox {
        margin-top: 50px;
        font-size: 1.1em;
        width: 100%;
        font-size: $fontSizeMidium;
      }
      .teacherLogin,
      .studentLogin {
        margin-top: 50px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .logoBox {
    height: 10vh;
    width: 100%;
    h1 {
      font-size: $fontHederSizeBig-Mobile;
    }
  }
  .descriptionBox {
    min-height: 85vh;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    .descriptionTextBox {
      width: 100%;
      line-height: 1.2em;
      font-size: $fontSizeMidium-Mobile;
    }
    .imageBox {
      width: 40%;
    }
  }
  .nextArrow {
    height: 10vh;
  }
  .userBox {
    flex-wrap: wrap;
    .teacherBox,
    .studentBox {
      margin-top: 10px;
      width: 100%;
    }
    h2 {
      font-size: $fontHederSizeMid-Mobile;
      margin-top: 5px;
      height: 2vh;
    }
    .textBox {
      margin-top: 10px;
      font-size: 0.6em;
      p {
        font-size: $fontSizeMidium-Mobile;
      }
    }
    .teacherLogin,
    .studentLogin {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
