@import '../../../../../styles.scss';
.container {
  width: 90%;
  background-color: $bgblueColorPrimary;
  border-radius: $radiusMid;
  padding: 35px 5%;
  box-shadow: 0px 0px 5px gray;
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 5%;
    h2 {
      font-size:  $headerFontSizeMedium;
      color: $blueColorSecond;
    }
  }
  .lineContainer {
    margin-top: 15px;
    border-bottom: $borderBottomPrimary;
  }
  .dataContainer{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom:$borderPrimary;
  }
  .timeContainer, .statusContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom:$borderPrimary;
  }
  h2{
    font-size: $headerFontSizeSmall;
    color: $blueColorSecond;
  }
  .deleteButton{
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
