<div class="container">
  <div class="headerContainer">
    <h2>Dodawanie terminu</h2>
    <app-close-button (click)="close()"/>
  </div>
  <div class="lineContainer"></div>
  <div class="deletecontainer">
    <div class="dataContainer">
        <h2>Data korepetycji:</h2>
        <h2>{{day}}</h2>
    </div>
    <div class="timeContainer">
        <h2>Czas korepetycji:</h2>
        <h2>{{startTime}} - {{endTime}}</h2>
    </div>
    <div class="statusContainer">
        <h2>Status</h2>
        <h2>{{status}}</h2>
    </div>
    <div class="deleteButton">
        <app-delete-button (click)="deleteTermFunction()"/>
    </div>
  </div>
</div>
