.back{
    transition-duration: 500ms;
    transform: rotate(180deg);
}
.front{
    transition-duration: 500ms;
    transform: rotate(0deg);
}
button{
    box-shadow: none !important;
    background-color: rgba(0,0,0,0);
}