@import '../../../../styles.scss';
.container {
    width: 90%;
    border:$borderPrimary;
    border-radius: $radiusMid;
    padding: 35px 5%;
    .headerContainer {
      display: flex;
      align-items: center;
      padding: 0 5%;
      h2 {
        font-size: $headerFontSize;
        color: $blueColorSecond;
      }
    }
    .lineContainer {
      margin-top: 25px;
      border-bottom: $borderBottomPrimary
    }
    .detailsContainer {
        margin-top: 35px;
    }
  }
  