@import '../../../styles.scss';

section{
    background-color: $navBarColor;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
.logo, .loginForm{
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5em;
}
app-login-user{
width: 100%;
}
@media only screen and (max-width: 900px) {
    section{
        flex-wrap: wrap;
    }  
    .logo, .loginForm{
        width: 100%;
    }
    .logo{
        height: 25vh;
    }
    .loginForm{
        height: 55vh;
        align-items:flex-start
    }
    h1{
        font-size: 3em;
    }
}
