@import "../../../styles.scss";

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  transition-duration: 500ms;
  .logo,
  .loginForm {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
    h1 {
      font-size: $fontHeaderSizeBBig;
      color: $blueColorSecond;
      transition-duration: 500ms;
    }
  }
  .logo {
    background-color: $bgblueColorSecond;
  }
  .loginForm {
    background-color: $bgblueColorThird;
    transition-duration: 500ms;
  }
}
app-login-user {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  section {
    flex-wrap: wrap;
    transition: 500ms;
    .logo,
    .loginForm {
      width: 100%;
      transition: 500ms;
    }
    .logo {
      height: 15vh;
      transition: 500ms;
      h1 {
        font-size: $fontHederSizeMid;
        transition: 500ms;
      }
    }
    .loginForm {
      margin-top: 20px;
      height: 90vh;
      align-items: flex-start;
      background-color: $bgColorNone;
      transition-duration: 500ms;
    }
  }
}
