<div class="addDataBox">
  <app-new-subject (subject)="addSubject($event)" />
</div>
<div class="filterBox">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>
</div>

<div class="tableBox">
  @if (isLoadingResults) {
  <mat-spinner></mat-spinner>
  } @else{
  <table mat-table [dataSource]="dataSubject" class="mat-elevation-z8" matSort>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          (click)="columnSort()"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">
          @if(element.id != activeForm){
          {{ element.name }}} @else{
          <mat-form-field>
            <input
              matInput
              placeholder="subject"
              formControlName="subject"
            /> </mat-form-field
          >}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          @if(element.id != activeForm){
          <app-edit-button (click)="editElement(element.id)" />
          <app-delete-button (click)="removeElement(element.id)" />}
          @else{
          <app-save-button (click)="saveElement(element.id)" />
          <app-close-button (click)="closeElement()" />}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </form>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
    (change)="pagination()"
  ></mat-paginator>
  }
</div>
