@import '../../../styles.scss';
.container {
  width: 90%;
  border: $borderPrimary; 
  border-radius: $radiusMid;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 10%;
    h2 {
      font-size: $headerFontSize;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: $borderBottomPrimary;
  }
  .filterContainer {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    app-teacher-list-filter{
      width: 100%;
    }
  }
  .teachersListContainer {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    .teacherContainer{
      border: $borderPrimary;
      background-color: $bgblueColorThird;
      width: 45%;
      margin-bottom: 30px;
      border-radius: $radiusMid;
      .teacherBox{
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        .imageBox{
          width: 30%;
          display: flex;
          align-items: center;
          figure{
            margin: 0px;
            padding: 0px;
            width: 100%;
            img{
              width: 100%;
              border-radius: $radiusMid;
            }
          }
        }
        .teacherContentContainer{
          width: 65%;
          .nameContainer{
            margin-top: 10px;
            h2{
              font-size: $headerFontSizeSmall;
              text-align: center;
              color:$blueColorSecond ;
            }
          }
          .subjectContainer, .priceContainer, .ratingContainer{
            margin-top: 10px;
            h3{
              font-size: $fontSizeSmall;
              margin-bottom: 5px;
              color:$blueColorSecond ;
            }
            span{
              font-size: $fontSizeSmall;
              color:$blueColorSecond ;
            }
          }
        }
      }


    }
  }
}
@media only screen and (max-width: 900px) {
    .container {
        .teachersListContainer {
        flex-wrap: wrap;
        .teacherContainer{
            width: 100%;
        }
    }

    }
}