.container {
  width: 90%;
  background-color: aliceblue; 
  border-radius: 20px;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 10%;
    h2 {
      font-size: 2rem;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: 2px solid black;
  }
  .filterContainer {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    app-teacher-list-filter{
      width: 100%;
    }
  }
  .teachersListContainer {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    .teacherContainer{
      background-color: burlywood;
      width: 45%;
      margin-bottom: 30px;
      border-radius: 20px;
      .teacherBox{
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        .imageBox{
          width: 30%;
          figure{
            width: 100%;
            img{
              width: 100%;
              border-radius: 20px;
            }
          }
        }
        .teacherContentContainer{
          width: 65%;
          .nameContainer{
            margin-top: 10px;
            h2{
              font-size: 1.2rem;
              text-align: center;
            }
          }
          .subjectContainer, .priceContainer, .ratingContainer{
            margin-top: 10px;
            h3{
              font-size: 1rem;
              margin-bottom: 5px;
            }
            span{
              font-size: 1rem;
            }
          }
        }
      }


    }
  }
}
@media only screen and (max-width: 900px) {
    .container {
        .teachersListContainer {
        flex-wrap: wrap;
        .teacherContainer{
            width: 100%;
        }
    }

    }
}