@import "../../../../../styles.scss";
.dayContainer {
    border-right: $borderPrimary;
    .dayNameBox {
    text-align: center;
    height: $dayBoxNameHight;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColorPrimary;

  }
  .hoursContainer{
    position: relative;
    .hourBox{
        border-top: $borderPrimary;
        background-color: $bgcCalnedar;
        .timeBox{
            height: calc($dayBoxHight / 4);
        }
    }
    .termsNoReservetrion,.termsReservetrion{
        position: absolute;
        width: 90%;
        left: 5%;
        top: 100px;
        z-index: 10;
        border-radius: 5px;
        border-radius: $radiuVSmall;
        font-size: $fontSizeSmall;
    }
    .termsNoReservetrion{
        background-color: $termnoReservation;
    }
    .termsReservetrion{
        background-color: $termReservation;
    }
}
}
