a {
    width: 100% !important;
    height: 40px !important;

  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    height: 15px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  @media only screen and (max-width: 900px) {

  }
  