@import "../../../../styles.scss";

.container {
  width: 90%;
  border-radius: $radiusMid;
  border: $borderPrimary;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 5%;
    h2 {
      font-size: $headerFontSize;
      color:$blueColorSecond ;
    }
  }
  .lineContainer {
    margin-top: 15px;
    border-bottom:$borderBottomPrimary;
  }
  .calenderRangeMobile {
    display: none;
    .DataRange{
      display: flex;
      align-items: center;
      font-size:$fontHederSizeMid-Mobile;
      color: $blueColorSecond;
    }
  }
  .calenderRange {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border: $borderPrimary;
    border-radius: $radiusSmall;
    width: 100%;
    .DataRange {
      display: flex;
      align-items: center;
      font-size:$fontHederSizeMid-Mobile;
      color: $blueColorSecond;

    }
  }
  .calendatContainer {
    width: 100%;
    margin-top: 25px;
    background-color: $blueColorSecond;
    display: flex;
    app-spinner{
      width: 100%;
    }
    .hoursContainer {
      margin-top: $dayBoxNameHight;
      width: 50px;
      background-color: $blueColorSecond;
      text-align: center;
      .hourBox {
        color: $whiteColorPrimary;
        height: $dayBoxHight;
        border-top: $borderPrimary;
      }
    }
    .daysContainer {
      border-left: $borderPrimary;
      width: calc(100% - 50px);
      display: flex;
      .dayBox {
        width: 15%;
      }
      .dayBoxMobile {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .calenderRange {
      display: none;
    }
    .calenderRangeMobile {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      border: $borderPrimary;
      width: 100%;
      .DataRange {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
      }
    }
    .calendatContainer {
      width: 100%;
      .daysContainer {
        .dayBox {
          display: none;
          app-teacher-day-terms {
            display: none;
          }
        }
        .dayBoxMobile {
          width: 100%;
          display: flex;
          app-teacher-day-terms {
            width: 100%;
          }
        }
      }
    }
  }
}
