<div class="container">
  <div class="headerContainer">
    <h2>Kalendarz</h2>
  </div>
  <div class="calenderRangeMobile">
    <div class="leftArrow"><app-arrow-back (click)="changeRange(-1)" /></div>
    <div class="DataRange">
      {{ dataRange.start_date }}
    </div>
    <div class="rightArrow">
      <app-arrow-back [position]="position" (click)="changeRange(1)" />
    </div>
  </div>
  <div class="calenderRange">
    <div class="leftArrow"><app-arrow-back (click)="changeRange(-7)" /></div>
    <div class="DataRange">
      {{ dataRange.start_date }} - {{ dataRange.end_date }}
    </div>
    <div class="rightArrow">
      <app-arrow-back [position]="position" (click)="changeRange(7)" />
    </div>
  </div>
  <app-legends/>
  <div class="calendatContainer">
    @if (isLoadingResults) {
    <app-spinner/>
    } @else{
    <div class="hoursContainer">
      @for(hour of hours; track hour){
      <div class="hourBox">
        <span>{{ hour }}</span>
      </div>
      }
    </div>
    <div class="daysContainer">
      @for(term of terms; track term){
      <div class="dayBox">
        <app-teacher-detail-day-term [terms]="term" (refleshData)="refDate($event)"/>
      </div>
      }
      <div class="dayBoxMobile">
        <app-teacher-detail-day-term [terms]="terms[0]" (refleshData)="refDate($event)"/>
      </div>
    </div>
    }
  </div>
</div>
