@import '../../../../styles.scss';
.container {
    width: 90%;
    background-color: $bgblueColorPrimary;
    border-radius: $radiusMid;
    padding: 35px 5%;
    box-shadow: 0px 0px 5px gray;
    overflow-y: auto;
    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 5%;
      h2 {
        font-size:  $headerFontSizeMedium;
        color: $blueColorSecond;
      }
    }
    .lineContainer {
      margin-top: 15px;
      border-bottom: $borderBottomPrimary;
    }
    .dataContainer{
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
    }
    .timeContainer{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    .selectSubject {
      table {
        margin-top: 10px;
        width: 100%;
      }
      mat-radio-button{
        width: 100%;
      }
      table,
      th,
      td {
        border: $borderPrimary;
        border-collapse: collapse;
        text-align: center;
        padding: 10px 0px;
      }
    }
    h2{
      font-size: $headerFontSizeSmall;
      color: $blueColorSecond;
    }
    .deleteButton{
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
  }
  