<div class="form">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateEmailErrorMessage()"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ errorEmailMessage() }}</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Wyślij</button>
  </form>
</div>