form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
mat-form-field {
  margin: 0px 15%;
  width: 80%;
  display: flex;
  margin-bottom: 30px;
  border-radius: 50%;
}
button {
  margin-bottom: 30px;
}
