@import "../../../styles.scss";

nav {
  background-color: $navBarColor;
  height: calc(100vh - 95px);
  padding: 10px 0px;
}
.colapseNav {
  width: 50px;
  transition-duration: 500ms;
}
.expandNav {
  width: 200px;
  transition-duration: 500ms;
}

.arrowBox {
  width: 100%;

  display: flex;
  justify-content: end;
}
.navigationBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
app-link-nav-bar {
  width: 90%;
  margin-top: 10px;
}

@media only screen and (max-width: 900px) {
  app-arrow-back {
    display: none;
  }
  nav {
    position: fixed;
  }
  .colapseNav {
    width: 100%;
    left: -100%;
  }
  .expandNav {
    left: 0;
    width: 100%;
  }
  app-link-nav-bar {
    width: 100%;
    margin-top: 0px;
  }
}
