@import "../../../../styles.scss";
.container {
  width: 90%;
  border-radius: $radiusMid;
  border: $borderPrimary;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 10%;
    h2 {
      font-size: $headerFontSize;
      color: $blueColorSecond;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: $borderBottomPrimary;
  }
  .detailsContainer {
    margin-top: 35px;
    .dataContainer {
      display: flex;
      padding: 20px 0px;
      border-bottom: $borderPrimary;
      .label,.data {
        width: 50%;
        span {
          font-size:$headerFontSizeSmall;
          font-weight: $fontBold;
          color: $blueColorSecond;
        }
      }
      .avatarContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        figure {
          display: flex;
          justify-content: center;
          img {
            width: 30%;
            border-radius: $radiusMid;
          }
        }
        .uploadImage {
          margin-top: 25px;
          width: 100%;
          display: flex;
          justify-content: center;
          form {
            min-width: 30%;
            display: flex;
            align-items: center;
          }
          button {
            width: 25%;
            height: 40px;
            border-radius: 20px;
          }
        }
      }
      
    }
  }
  .formContainer{
    display: flex;
    flex-wrap: wrap;
    mat-form-field{
      width: 100%;
    }
  }
  .editContainer{
    margin-top: 35px;

  }
  .buttonContainer {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    .activeForms{
      width: 150px;
      display: flex;
      justify-content: space-around;
    }
  }
}
