.container {
  width: 90%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 10%;
    h2 {
      font-size: 2rem;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: 2px solid black;
  }
  .detailsContainer {
    margin-top: 35px;
    .dataContainer {
      display: flex;
      margin-bottom: 30px;
      .label {
        width: 50%;
        span {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      .data {
        span {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
  .formContainer{
    display: flex;
    flex-wrap: wrap;
    mat-form-field{
      width: 100%;
    }
  }
  .editContainer{
    margin-top: 35px;

  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}
