@import '../../../../styles.scss';
.toggleButonContainer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.formBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    app-lessons-teacher-form{
      width: 100%;
    }
  }

  .tableBox {
    width: 100%;
  }
  table {
    width: 100%;
    background-color: $bgColorNone;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.0);
    border: $borderPrimary;
    //box-shadow: 0px 0px 0px $bgColorNone;
    th, td{
      border-bottom: $borderPrimary;
      padding: 10px auto;
    }
    .actiobButton{
      width: 10%;
      padding: 0px;
      div{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-around;
      }
    }

  }