@import "../../../styles.scss";
.container {
  width: 90%;
  border: $borderPrimary;
  border-radius: $radiusMid;
  padding: 35px 5%;
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 0 5%;
    h2 {
      font-size: $headerFontSize;
      color: $blueColorSecond;
    }
  }
  .lineContainer {
    margin-top: 25px;
    border-bottom: $borderBottomPrimary;
  }
  .detailContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .imageBox {
      width: 30%;
      display: flex;
      align-items: center;
      figure {
        width: 100%;
        padding: 0px;
        margin: 0px;
        img {
          width: 100%;
          border-radius: $radiusMid;
        }
      }
    }
    .detialBox {
      width: 55%;
      h2 {
        font-size: $headerFontSizeMedium;
        color: $blueColorSecond;
      }
      .subjectContainer {
        table {
          margin-top: 10px;
          width: 100%;
        }
        table,
        th,
        td {
          border: $borderPrimary;
          border-collapse: collapse;
          text-align: center;
          padding: 10px 0px;
        }
      }
      .descriptionContainer {
        margin-top: 20px;
      }
      .ratingContainer {
        margin-top: 20px;
        span {
          font-size: $headerFontSizeMedium;
          color: $blueColorSecond;
        }
      }
    }
  }
  .calendarContainer {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .detailContainer {
      flex-wrap: wrap;
      justify-content: center;
      .imageBox {
        width: 40%;
        min-width: 200px;
      }
      .detialBox {
        width: 100%;
      }
    }
  }
}
