@import "../../../../styles.scss";

.dayContainer {
  border-right: $borderPrimary;
  .dayNameBox {
    text-align: center;
    height: $dayBoxNameHight;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColorPrimary;
  }
  .hoursContainer {
    position: relative;
    .hourBox {
      border-top: $borderPrimary;
        background-color: $bgcCalnedar;
      .timeBox {
        height: calc($dayBoxHight / 4);
      }
    }
    .classesNoConfirm,.termsFree,.classesConfirm{
      position: absolute;
      width: 90%;
      left: 5%;
      top: 100px;
      z-index: 10;
      border-radius: $radiuVSmall;
      font-size: $fontSizeSmall;
    }
    .termsFree {
      background-color: $colorFree;
    }
    .classesNoConfirm {
      background-color:  $termnoReservation;
    }
    .classesConfirm {
      background-color:$termReservation;
    }
  }
}
.setTerm {
  position: fixed;
  width: 70%;
  top: 15svh;
  left: 15%;
  z-index: 200;
  background-color: $whiteColorPrimary;
  border-radius: $radiusMid;
}
